body{
  background-image: url("./table.jpg");
  background-size: cover;
}
#calculatorWrapper{
  background-color: #080a2e;
  width: 28vw;
  margin: 0 auto;
  border-radius: 15px;
  height: 90vh;
  padding: 1%
}

#display{
  text-align: right;
  width: 98%;
  margin: 1% auto;
  background-color: #bbdddd;
  border-radius: 15px;
  height: 20%;

  font-size: 5rem;
}

#buttonsWrapper{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 99%;
  margin: auto;
  vertical-align: middle;
}

.btn{
  width: calc(23%);
  height: calc(87% / 5);
  font-size: 50px;
  margin: 1%;
  background-color: #bbdddd;
  border-radius: 15px;
}

.btn:focus{
  outline: none;
  background-color: red;
}

#clear{
  width: 100%;
}